.speedDial{
    position: fixed;
    right: 3vmax;
    top:10vmax;
    }
    
    .speedDialIcon{
        width: 80px;
        height: 80px;
    border-radius: 100%;
    background-color: black;
    }