.loading {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(231, 232, 238, 1) 0%, rgba(189, 191, 199, 1) 35%, rgba(185, 195, 218, 1) 100%);
    display: grid;
    place-items: center;
    max-width: 100%;
  }
  
  .loading > div {
    width: 10vmax;
    height: 10vmax;
    border-bottom: 5px solid rgba(0, 0, 0, 0.719);
  
    border-radius: 50%;
  
    animation: loadingRotate 800ms linear infinite;
  }
  
  @keyframes loadingRotate {
    to {
      transform: rotateZ(-360deg);
    }
  }